* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  color: black;
  padding: 20px;
  text-align: center;
}

header img {
  height: 100px;
}

nav {
  background-color: yellow;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #858a0a;
  border-radius: 5px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-wrapper {
  display: flex;
  flex: 1;
}

.sidebar-left {
  width: 200px;
  background-color: white;
  padding: 20px;
  border-right: 5px solid #d4cf79;
}

.sidebar-left img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.sidebar-right {
  width: 200px;
  background-color: white;
  padding: 20px;
  border-left: 5px solid #d4cf79;
}

.sidebar-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5e37d;
  text-align: center;
  font-size: x-large;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}
